{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holland Home - Chat</title>
    <link rel="stylesheet" href="{% static 'page/chat.css' %}">
    
    
</head>
<body>
    <header class="header">
        <div class="logo">Holland Home</div>
        <div class="ham-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="off-screen-menu">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="#">Shopping ⬇</a></li>
                <li><a href="#">Cleaning ⬇</a></li>
                <li><a href="#">Contract ⬇</a></li>
                <li><a href="/members/logout_user">Logout</a></li>
            </ul>
        </div>
    </header>
     

     <section class="chat-title">
        <h1>Chat</h1>
    </section>

    <main class="main-content">
        <div class="chat-container">
            <section class="chat-content">
                <div class="chat-message received">
                    <span class="chat-sender">User1</span>
                    <div class="chat-bubble">
                        <p>Hello! How can I help you today?</p>
                    </div>
                    <span class="chat-time">10:24</span>
                </div>

                <div class="chat-message sent">
                    <span class="chat-sender">User2</span>
                    <div class="chat-bubble">
                        <p>I have an issue to discuss.</p>
                    </div>
                    <span class="chat-time">10:25</span>
                </div>
            </section>

            <footer class="chat-input-area">
                <input type="text" class="chat-input" placeholder="Type a message...">
                <button class="chat-send-btn">Send</button>
            </footer>
        </div>
    </main>
<script src="{% static 'page/js/home.js' %}"></script>
</body>
</html>