{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holland Home</title>
    <link rel="stylesheet" href="{% static 'page/welcome.css' %}">
</head>

<body>
<header class="header">
    <div class="site-title">Holland Home</div>
    <h1>Student Housing, Student Harmony</h1>
</header>

<div class="top-right">
        <nav>
      <a href="/members/login_user/"><button>Log In</button>
    </a>
    </nav>
    </div>



<main>
   
    
    <div class="welcome-message"> 
        <h1>Welcome to Holland Home</h1>

        <p>We are delighted to have you here! At Holland Home, we strive to provide a 
        comfortable and supportive living environment for all our students.
        <br> Whether you're new to the area or 
        returning for another year, we are committed to making your stay enjoyable and memorable.</p>
        <p>Feel free to explore our facilities, participate in community events,
         and connect with fellow residents. If you have any questions or need assistance,
         our friendly staff is always here to help.</p>
    </div>

    
    
    <div class="image-row">
            
        <div class="column">
            <img src="{% static 'page/images/bell.jpg' %}" alt="Modern Living" class="circle-img">
            <h3>Modern Living</h3>
            <p>The latest amenities and stylish furniture in all rooms.</p>
        </div>

        <div class="column">
            <img src="{% static 'page/images/todo.png' %}" alt="University Proximity" class="circle-img">
            <h3>University Proximity</h3>
            <p>Strategic location with excellent access to public transport.</p>
        </div>
        
        <div class="column">
            <img src="{% static 'page/images/message' %}" alt="24/7 Support" class="circle-img">
            <h3>24/7 Support</h3>
            <p>Our team is always ready to solve any problems.</p>
        </div>
        
        <div class="column">
            <img src="{% static 'page/images/shoping.png' %}" alt="Community Life" class="circle-img">
            <h3>Community Life</h3>
            <p>Shared spaces and organised events for students.</p>
        </div>

        <div class="column">
            <img src="{% static 'page/images/broom.png' %}" alt="Clean Environment" class="circle-img">
            <h3>Clean Environment</h3>
            <p>We ensure regular cleaning and maintenance of all common areas.</p>
        </div>

    </div>

<br><br><br><br>

<H1 style="text-align: center;">
    Prinscreen</H1>
<br><br><br><br><br>
<p style="text-align: center;">
    Explanation for the prinscreen here.
</p>
<br><br><br><br><br><br><br><br><br>


<div class="welcome-message"> 
        <h1>About Us</h1>
        <p>Student Housing, Student Harmony</p>
        <p>Holland Home is dedicated to providing top-notch student housing solutions that cater to the diverse needs of our residents. Our mission is to create a safe, inclusive, and vibrant community where students can thrive academically and socially. With a focus on modern amenities, strategic locations, and exceptional customer service, we aim to enhance the overall student living experience.</p>
        <p>We believe that a comfortable living environment is crucial for student success, and we are committed to continuously improving our facilities and services to meet the evolving needs of our residents. Join us at Holland Home and experience a place where you can truly feel at home while pursuing your academic goals.</p>
    </div>



</main>
    <footer>
        <span class="autor">
        Authors: Marianna, Emre, Zay, Luuk, Daniel <br />
        &copy; 2025 Holland Home. All rights reserved.<br />
      </span>
      <br>
    </footer>
</body>
</html>